#piggy {
display: none; 
position: absolute;
background-color: #999;
width: 200px;
}

#pastorhide {
	 display:none;
}
#piggypush {
	
}

.tops {
	display: block;
	min-height:30px;
	width: 100%;
	background: url('top.png');
}

.middles {
	background: url('middle.png');	
}

.bottoms {
	display: block;
	min-height:30px;
	width: 100%;
	background: url('bottom.png');
}